@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('Muller-Regular'),
        url('/css/fonts/MullerRegular.woff2') format('woff2'),
        url('/css/fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }


html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.body{
    background-color: #e5e5e5;
    font-family: 'Muller';
}


.container{
    width: 1170px;
    margin: 0 auto;
    
}

.container-header-base{
    height: 54px;
    margin: 20px auto;
}

/* HEADER */

.header-logo{
    width: 261px;
    height: 54px;
}

.header-number{
    width: 164px;
    height: 20px;
    margin-left: 40px;
    margin-right: 541px;
}

.personal-account{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
   padding-left: 29px;
    color: #CC9933;
    background-image: url('../img/keyboard_tab.svg');
    background-position: left center;
    background-repeat: no-repeat;
}

.header-nav{
    background-color: #FFFFFF;
    border-radius: 15px;
    height: 70px;
}

.neader-list{
    margin: 0 auto;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-left: 45px;
}

.header-list-item{
    display: inline-block;
    margin: 25px 0;
    text-align: center;
    padding-right: 45px;
}
.header-list-item:last-child{
    padding-right: 0;
}

.header-link{
    text-decoration: none;
    color: #666;
    font-weight: 400;
    font-size: 16px;  
    line-height: 16px;
}

.header-link:last-child {
    margin-bottom: 0px;
}

.btn{
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933;
    background-color: #FFFFFF;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.header-button{
    width: 107px;
    margin-right: 40px;
    margin-left: 114px;
}

.header-button-back-call{
    width: 177px;
    height: 42px;
}

/* SPECIAL */
.special{
    margin: 25px auto;
    width: 1170px;
    height: 600px;
}

.section-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
    margin-top: 70px ;
    margin-left: 40px;
    margin-bottom: 20px;
}

.special-container{
    display: inline-block;
    margin: 0;
    width: 573px;
height: 540px;
}

.special-container-1{
    width: 573px;
    height: 258px;
    background-image: url('../img/var-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding:40px 108px 40px 45px;
}

.special-container-names{
    margin: 0;
    font-weight: 700;
    width: 420px;
height: 80px;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
   
}

.special-container-price{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 47px;
}

.special-container-info{
    width: 87px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url('../img/arrow-info.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 12px;
    text-decoration: none;
}

.special-container-2{
    margin: 24px 0 0;
    width: 573px;
    height: 258px;
    background-image: url('../img/var-2.png');
    background-repeat: no-repeat;
    background-position: center;
    padding:40px 108px 40px 45px;
}

.special-container-3{
    float: right;
    width: 573px;
    height: 540px;
    background-image: url('../img/var-3.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 212px 229px 40px 45px;
}

.special-container-names-big{
    margin: 0 auto;
    width: 299px;
    height: 180px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.special-container-price-big{
    width: 142px;
    height: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}


.about-us-text{
    width: 888px;
    height: 192px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    margin-bottom: 0;
}

.services-items{
    padding: 0;
    margin: 0 auto;
    
}

.services-item{
	width: 573px;
    height: 330px;
	display: inline-block;
	border-radius: 15px;
	vertical-align: top;
    color: #3f2aff;
    margin-right: 20px;
    margin-bottom: 20px;
	padding: 191px 126px 35px 45px;
	background-repeat: no-repeat;
    background-color: #FFFFFF;
}

.services-item:nth-child(2n) {
	margin-right: 0;
}
  .services-item:nth-child(3){
    margin-bottom: 0;
}  
  .services-item:nth-child(4){
    margin-bottom: 0;
}  

.image-1 {
	background-image: url('../img/services-1.png');
}

.image-2 {
	background-image: url('../img/services-2.png')
}

.image-3 {
	background-image: url('../img/services-3.png');
}

.image-4 {
	background-image: url('../img/services-4.png');
} 

.services-item-container{
    width: 402px;
height: 104px;
}

.services-item-title{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background-image: url('../img/arrow-info.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 14px;
}

.services-item-text{
    margin: 0;
    width: 402px;
    height: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* BENEFITS */

.benefits-items{
    list-style-type: none;
padding: 0;
}

.benefits-item{
    margin: 0 auto;
    display: inline-block;
    width: 276px;
    height: 276px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-right: 18px ;
    margin-bottom: 18px;
    padding-left: 45px;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-right: 42px;
}

.benefits-item::not(:first-child):not(:last-child) {
	margin-right: 0;
    margin-left: 0;
}

.benefits-item:nth-child(4n+4){
    margin-right: 0;
}

.bbenefits-item-icon{
    margin-left: 45px;
    margin-top:40px;
}

.benefits-item-descr{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* BENEFITS */

.placement-items{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.placement-item{
    margin: 0 auto;
    display: inline-block;
    width: 374px;
    height: 440px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 15px;
    vertical-align: top
}

.placement-item::not(:first-child):not(:last-child) {
	margin-right: 0;
    margin-left: 0;
}

.placement-item:nth-child(3n+3){
    margin-right: 0;
}

.placement-view-more{
    background-image: url('../img/hotel-more.png');
    width: 374px;
    height: 440px;
    padding: 373px 54px 27px;
}

.placement-view-more-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    background-image: url('../img/white-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.placement-price-info{
    margin-top: 32px;
    margin-left: 45px;
}

.placement-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.placement-span{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.placement-button{
    width: 100px;
height: 42px;
    margin-left: 45px;
    margin-bottom: 45px;
    margin-top: 20px;
}

.placement-prise-tile{
    display: inline;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.placement-star{
    width: 14px;
height: 14px;
}

.placement-star:first-of-type{
    margin-left: 52px;
}